asgiref
autopep8
Babel
beautifulsoup4
bootstrap-admin
bs4
certifi
charset-normalizer
click
colorama
dj-database-url
Django
django-admin-interface
django-ckeditor
django-colorfield
django-countries
django-currencies
django-flat-responsive
django-flat-theme
django-grappelli
django-heroku
django-jazzmin
django-jet-reboot
django-js-asset
django-money
django-phone-field
django-phonenumber-field
django-quill
django-tinymce
djlint
feedparser
gunicorn
idna
importlib-metadata
jsonfield
pathspec
phonenumbers
pi
Pillow
psycopg2-binary
py-moneyed
pycodestyle
python-environ
pytz
PyYAML
regex
requests
sgmllib3k
six
soupsieve
sqlparse
toml
tomlkit
tqdm
typing_extensions
tzdata
urllib3
whitenoise
zipp
