<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
      <div class="card-header">Rechercher</div>
      <div class="card-body">
        <form action="{% url 'recherche_post' %}" method="get">
          {% csrf_token %}
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Entrer un thème..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
              required
              name="query"
              id="recherche-post"
            />
            <button class="btn btn-primary" id="button-search" type="submit">
              On y va !
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Categories widget-->
    <div class="card mb-4">
      <div class="card-header">Catégories</div>
      <div class="card-body">
        <div class="row">
          
          {% for cat in categories %}
          <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href=" {% url 'category_post_list' cat.slug %} "> {{cat.nom_categorie}} </a></li>
              </ul>
            </div>
          {% endfor %}
              
        </div>
      </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
      <div class="card-header">Demander un dévis</div>
      <div class="card-body">
        <p>
          E-media Group est une plateforme de communication, d'édition, de création graphique et d'imprimerie. 
        </p>
        <a class="btn btn-primary mt-2" href="">Lancez-vous !</a>
      </div>
    </div>
  </div>