<div class="container px-5 my-5">
    <form id="contactForm">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <div class="form-floating mb-3">
            <input class="form-control" id="nom" type="text" placeholder="Nom" data-sb-validations="required" name="nom" />
            <label for="nom">Nom</label>
            <div class="invalid-feedback" data-sb-feedback="nom:required">Votre nom est requis.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="adresseMail" type="email" name="email" placeholder="Adresse mail" data-sb-validations="required,email" />
            <label for="adresseMail">Adresse mail</label>
            <div class="invalid-feedback" data-sb-feedback="adresseMail:required">Votre adresse mail est requise.</div>
            <div class="invalid-feedback" data-sb-feedback="adresseMail:email">L'adresse mail n'est pas valide.</div>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="mytextarea" name="mytextarea" type="text" placeholder="Votre commentaire" style="height: 10rem;" data-sb-validations="required"></textarea>
            <label for="votreCommentaire">Votre commentaire</label>
            <div class="invalid-feedback" data-sb-feedback="votreCommentaire:required">Votre commentaire est requis.</div>
        </div>
       
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Soumettre</button>
        </div>
    </form>
</div>








