{% extends 'layouts/master.html' %} 
{% load static %} 

{% block tab_name %}
EMEDIA GROUP - Blog
{% endblock tab_name %}

{% block heroview %}
    <div class="container">
        <div class="row row-page mt-5">
            <div class="col-lg-4 hero-pages der"> <!-- DEBUT COL-4 GENERALE-->
                <img 
                    class="img-fluid hero-author-img" 
                    src="{% static 'images/hero/hero-post.png' %}"
                    alt="image illustrant un post" 
                    title="image illustrant un post"
                >
            </div> <!-- FIN COL-4 GENERALE-->

            <div class="col-lg-7 right-hero pre"> <!-- DEBUT COL-8 GENERALE-->
                <div class="hero-heading">
                    <h1 class="hero-title">Notre</h1>
                    <p class="hero-subtitle">Blog</p>
                    <p class="hero-direct mt-5">
                        <span class="mr-2">
                            <a href="{% url 'home' %}">Accueil 
                                <span class="icon-navigate_before">
                                </span>
                            </a>
                        </span> 
                        <span class="red">Blog
                        </span>
                    </p>
                    <a class="btn emedia-btn" href="#blog" id="explore">Explorer</a>
                </div>
            </div> <!-- FIN COL-8 GENERALE-->             
        </div>
        <div class="row cat-row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <p class="hero-cat text-center">Catégorie</p>
            </div>
        </div>
    </div>
{% endblock heroview %}

{% block content %}
    <div class="wrapper">
        <div class="container py-5">
            <div class="row post">
                <!-- Blog entries-->
                <div class="col-lg-8">
                <!-- Nested row for non-featured blog posts-->
                <div class="row" id="blog">
                    {% with posts.count as nb_post %}
                        {% if nb_post == 0 %}
                            <p class="text-center">Aucun post n'est disponible pour le moment !</p>
                        {% else %} 
                            {% for post in posts %}
                            <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card h-100 mb-4">
                                <a href="{{post.get_absolute_url}}"
                                ><img
                                    class="card-img-top"
                                    src="{% static 'images/banners/default-bg-emedia.png' %}"
                                    alt="image illustrant la publication"
                                    title="Lire plus →"
                                /></a>
                                <div class="card-body">
                                <div class="small text-muted">Posté depuis {{post.date_publication|timesince}}</div>
                                <h2 class="card-title post-title">{{post.titre}}</h2>
                                <p class="card-text">
                                    <!-- {{ post.contenu | safe }} -->
                                    {{post.contenu | safe | truncatewords:50}}
                                </p>
                                <a class="btn btn-primary" href=" {{post.get_absolute_url}} ">
                                    Lire plus →
                                </a>
                                </div>
                            </div>
                            </div>
                            {% endfor %} 
                        {% endif %} 
                    {% endwith %}
                </div>
                <!-- Pagination-->
                {% include 'layouts/_pagination.html' with page=posts %}
                </div>
                <!-- Side widgets-->
                {% include 'layouts/_blog-side-widgets.html' %}
            </div>
        </div>
    </div>
{% endblock content %}

