// .about {
//     margin: 3rem auto;
//     box-sizing: border-box;
   

//     .row {
//         @include flexCenter(row, center);


//         .about-text {
//             background: $white;
//             position: relative;
//             padding: 3rem 5rem;
//             border-radius: $bradius;
//             box-shadow: 0px 0px 5px lighten($black, 50%);
//             margin-right: -10rem;
//             z-index: 2;

//             @include media-breakpoint-down(md) {
//                 margin-right: 0;
//                 padding: 3rem 2rem;
//             }
//         }

//         .about-img {
//             position: relative;
//             overflow: hidden;
//             border-radius: $bradius;


//             img{
//                 transition: all .8s ease-in-out;
//             }

//             &:hover{
//                 img{
//                  transform: scale(1.2);
//                 }
//             }

            
//         }
//     }

// }



.section-about{
    background: $white;
    margin: 3rem auto;
    box-sizing: border-box;
    
   
    .about-text {
        margin-right: 3rem;
        z-index: 2;

        @include respond-below(md) {
            margin-right: 0;
            padding: 3rem 2rem;
        }
    }

    .about-img {
        position: relative;
        @include flexCenter(row, center);
        overflow: hidden;
        width: 100%;
        height: 100%;
        min-height: 500px;
        

        img{
            position: absolute;
            max-width: 280px;
            box-shadow: $box-shadow;
            border-radius: $bradius-plus;
            transition: all .8s ease-in-out;
            

            &.front{
                z-index: 5;
                margin-top: -30px;
                margin-right: -30px;
                box-shadow: $box-shadow-hover;
            }
            &.back{
                box-shadow: $box-shadow;
                z-index: 4;
            }
        }
        &:hover{
            .front{
                z-index: 4;
                margin-top: initial;
                margin-right: initial;
                box-shadow: $box-shadow;
            }
            .back{
                z-index: 5;
                margin-top: -30px;
                margin-right: -30px;
                box-shadow: $box-shadow-hover;
            }
        }
    }
}
