// -----------------------------------------------------
//les polices utlisées dans le projet


@font-face{
    font-family: "Poppins";
    src: local('Poppins');
    src: url(../fonts/poppins/Poppins-Regular.otf);
}

@font-face{
    font-family: "Futuram";
    src: local('Futura');
    src: url(../fonts/Futura/FuturaPTMedium.otf);
}


@font-face{
    font-family: "Futurab";
   src: url(../fonts/Futura/FuturaPTBook.otf);
}


@font-face {
    font-family: "Farringdon";
    src: local('Farringdon');
    src: url(../fonts/Farringdon/Farringdon.otf);
}

@font-face {
    font-family: "Oxtiger";
    src: local('Oxtiger');
    src: url(../fonts/Oxtiger/Oxtiger.ttf);
}
