.gototop {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	position: fixed;
	right: 20px;
	z-index: 15;
	background: $titlecolor;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
	bottom: -100px;
	&.active {
		bottom: 20px;
	}
	span{
		margin: 0 auto;
		font-size: 15px;
		color: $menucolor;
		animation: bounce 5s infinite;

		@include  respond-below(sm){
			font-size: 15px;
		}
	}

	@include  respond-below(sm){
		width: 40px;
		height: 40px;
	}
}
