

.item { 
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  a {
  	display: block;
  	overflow: hidden;
  	position: relative;
  	border-radius: 4px;
	  img {
	  	position: relative;
	  	transform: scale(1.0);
	  	transition: .3s all ease-in-out;
	  }
  }
  .item-wrap {
  	display: block;
  	position: relative;
  	&:after {
  		z-index: 2;
			position: absolute;
			content: "";
			top: 0; left: 0; right: 0; bottom: 0;
			background: rgba($black, .4);
			visibility: hidden;
			opacity: 0;
			transition: .3s all ease-in-out;
  	}
  	> span {
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		z-index: 3;
  		transform: translate(-50%, -50%) scale(0.0);
			color: $white;
			font-size: 1.7rem;
			opacity: 0;
			visibility: hidden;
			// margin-top: 10px;
			transition: .3s all ease;
  	}
  	&:hover {
  		&:after {
  			opacity: 1;
  			visibility: visible;
  		}
  		span {
  			margin-top: 0px;
  			opacity: 1;
  			visibility: visible;
  			transform: translate(-50%, -50%) scale(1.0);
  		}
  	}
  }

  &:hover {
  	a {
			img {
				transform: scale(1.05);
	  		transition: .3s all ease-in-out;
			}
		}
  }
}

.filters {
	.btn {

		background : $primecolor!important;
		color: $white;
		font-size: 1em;
    	border-radius:  $bradius;
		&.active {
			background: transparent!important;
			color: $black!important;
			border-color: $primecolor!important;
		}
	}
}
