$buttonColor : #219653;

$menucolor : #004900;

$hovercolor : #E19907;


// $sitefont : "Futurab";

$supfont : "Futuram";

$transitioneasy :  all 0.3s ease-in-out;

$bradius :  1rem;

$pop: 'Poppins';

$font-stack :  Helvetica, sans-serif;

// **********************************************************

    /*------fonts-------*/
// $sitefont : "Farringdon";
$sitefont : "Farringdon";
$regulartf : "Oxtiger";
$font-size-base : 15px;
$white : #fff;
$black : #000;


/*-----colors-------*/
$bodycolor : #FBEFE3;
$titlecolor : #FF5500;
/* $authorcolor : #E19907; */
$authorcolor : #FF8321;
$hovercolor : #9e3a1f;
$bgcolor : #1E1E1E;
/* $primecolor : #4C2014; */
$primecolor : #181222;
$menucolor : #110d18;
$bannercolor : #DEDEDE;
/* $primecolor : #056198; */

/*-----transition-------*/
$transitioneasy : all 0.3s ease-in-out;
$transitioncubic : all 0.3s cubic-bezier(.92,.01,.05,.98);

/*-----border-------*/
$bradius :  0.5rem;
$bradius :  1rem;

/*-------Box shadow------*/
$box-shadow: rgba(14, 30, 37, 0.082) 0px 2px 4px 0px, rgba(14, 30, 37, 0.062) 0px 2px 16px 0px;

$box-shadow-hover: rgba(14, 30, 37, 0.082) 0px -2px -4px 0px, rgba(14, 30, 37, 0.062) 0px -2px -16px 0px;
